@import "variables";
@import "mixins";

html {
	background: $darkest;
}

body {
	@include darkest_gradient();
	color: $font_color;
	font-family: $default_font;
	font-size: $default_font_size;
	line-height: $default_line_height;
	min-width: $min_body_width;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	border-bottom: 1px solid $link_color;
	color: $link_color;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid rgba(255, 255, 255, 0);
}



/** header styles **/
#header {
	color: $lightest;
	height: 60px;
	overflow: hidden;
	padding: 0 $main_side_padding 0 $main_side_padding;
	position: relative;
}

#logo {
	float: left;
	line-height: 1.8;
}
#logo a {
	color: $lightest;
	border-bottom: none;
	font-size: 50px;
	text-shadow: 1px -1px 0px $darkest;
}

.nav {
	display: none;
	@include horizontal-list-container;
	position: absolute;
		top: 12px;
		right: $main_side_padding;
}
.nav li {
	@include horizontal-list-item();
}
.nav li a {
	border-bottom: 1px solid $lightest;
	color: $lightest;
}
.nav li a:hover {
	border-bottom: none;
	color: $highlight;
}


/** content styles **/
#content {
	background-color: $lightest;
	@include clearfix;
	padding: 0;
}

#content .section {
	border-bottom: 1px solid $lighter;
	padding: 4em $main_side_padding 3em $main_side_padding;
	position: relative;
}
#content .section:nth-child(even) {
	@include lighter_gradient();
}

#content .section h1 {
	font-size: 3em;
	font-weight: bold;
	line-height: 1;
	@include opacity(.3);
	position: absolute;
		top: .3em;
		left: $main_side_padding;
}

#content .section > h2,
#content .section > p,
#content .section > ul {
	@include clearfix;
	padding-left: 5%;
	position: relative;
}

#content .section h2 {
	font-weight: bold;
}

#content .section p,
#content .section ul {
	margin-bottom: 1em;
}

#content .section p a {
	display: block;
	float: left;
}

#footer {
	color: $lighter;
	padding: $main_side_padding;
}

/** CSS3 experimental code **/
#transforms {
	overflow: hidden;
	position: relative;
}
#transforms .ribbon {
	background: #FFC134;
	border: 1px solid #323232;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 55px;
	position: absolute;
		top: 35px;
		right: -62px;

	@include rotate_2D(35deg);
}
	#transforms .ribbon p {
		margin: 0;
		padding: 0;
	}

#transforms .container {
	@include perspective(800px);
}
#transforms .flip-widget {
	height: 300px;
	position: relative;
	width: 250px;

	@include preserve3D();
	@include transition(1s);
}
#transforms .flipped {
	@include rotateY_3D(180deg);
}
	#transforms .flip-widget .face {
		background: #eaeaea;
		border: 1px solid #323232;
		height: 100%;
		position: absolute;
		width: 100%;

		@include border_radius(10px);
		@include backface_hidden();
	}
	#transforms .flip-widget .back {
		background: #323232;
		color: #fff;
		@include rotateY_2D(180deg);
	}
	#transforms .flip-widget .face .content {
		padding: 20px;
	}
	#transforms .flip-widget form .row {
		margin-bottom: 20px;
	}
/** END CSS3 experimental code **/

@media screen and (min-width: 960px) {
	#wrapper {
		@include box-shadow(.5);
		margin: 0 auto;
		width: 960px;
	}
	
	.nav {
		display: block;
	}
}
